<% if user_signed_in? %>
<%=
          link_to 'New Post', new_post_path
          %>
<% end %>
<% @posts.each do |post|
  conta = post.comments.count()
 %>
<article>
  <h3>
    <a href="#"><%= post.title %></a>
  </h3>
  <h6>
    Written by
    <a href="#"><%= post.user.name %></a> on <%= post.created_at.to_s(:long) %><!-- on August 12, 2012.-->
  </h6>

  <div class="row">
    <div class="large-6 columns">
      <p>
        <%= post.content %>
      </p>
    </div>
    <div class="large-6 columns">
      <img src="http://placehold.it/400x240&text=[img]" />
    </div>
    <p><%= raw link_to 'Comentarios(#{conta})', post %> </p>
  </div>
</article>
<hr />
<% end %>
