<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @post.content %>
</p>

<p>
  <strong>User:</strong>
  <%= @post.user.name %>
</p>

<p>
  <strong>Category:</strong>
  <%= @post.category.name %>
</p>

<h2>Comments</h2>
<% @post.comments.each do |comment| %>
  <p>
    <strong>Commenter:</strong>
    <%= comment.user.name %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= comment.content %>
  </p>
<% end %>

<h2>Add a comment:</h2>
<% if user_signed_in? %>
  <%= form_for([@post, @post.comments.build]) do |f| %>
    <%= f.hidden_field :user_id, value: current_user.id %>
    <p>
      <%= f.label :content %><br />
      <%= f.text_area :content, rows: 10 %>
    </p>
    <p>
      <%= f.submit %>
    </p>
  <% end %>
<% end %>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
