<%# add navigation links to this file %>
<% if user_signed_in? %>
<li>
    <%=
          link_to current_user.name, edit_user_registration_path
          %></li>
<li>
    <%=
          link_to 'Log Out', destroy_user_session_path, method: :delete
          %></li>

<% else %>

<li>
    <%=
          link_to 'Sign Up', new_user_registration_path, class: "button"
          %></li>
<li>
    <%=
          link_to 'Sign In', new_user_session_path
          %></li>
<% end %>
<li><%= link_to 'About', page_path('about') %></li>
<li><%= link_to 'Contact', new_contact_path %></li>
